
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');


/* ----------HOME PAGE---------- */


	/* -----General items----- */

body {
	font-family: "HankenGrotesk Regular";
	background-color: #102901;
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 100vh;
	padding-bottom: 0rem;
}

html{
	height: 100%;
	
}


header {
	background-color: #102901;
}


	/* -----Background Colors----- */

.color1{
	background-color: #102901;
}

.color2{
	background-color:blue;
}

.color3{
	background-color:#FAF5E8;
}

.color4{
	background-color:#AAD576;
}

.color5{
	background-color:#73A941;
}

.color6{
	background-color:#D5F4AF;
}

	/* -----Navbar CSS----- */

.navbar { 
	background-color: #FAF5E8;
	font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	}

.navbarfont {
	font-family: "HankenGrotesk Regular", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

.search_button_color {
	background-color: #AAD576;
	border-color: #245500;
	font-family: "DM Serif Display", serif;
 	font-weight: 400;
 	font-style: normal;
	color: #102901;
	font-size: 20px

}

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

	/* -----Carousel/Main Picture CSS----- */

.carousel_landing_page {
	padding-left: 0rem;
	padding-right: 0rem;
	column-fill: 100%;
	position: relative;
}

.membership_button_main_page {
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #FAF5E8;
	font-size: 25px;
	position:absolute;
}



.regular_divider{
	margin-left: 12px;
	margin-right: 12px;
}

		/*--- Custom shape dividor 1 (beige) CSS */
.custom-shape-divider-bottom-1711654182 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711654182 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 94px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1711654182 .shape-fill {
    fill: #FAF5E8;
}
		

	/* -----Travelstory Quote CSS----- */

.quote_image{
	text-align: center;
	margin-top: 80px;
	margin-left: 100px;
	margin-bottom: 40px;
	margin-right: 40px;
	outline: double;
	outline-width: 10px;
	outline-color: #73A941;
}

.card_style{
	background-color: #D5F4AF;
	text-align:right;
	margin-top: 110px;
	margin-right: 90px;
	
}

.quote_card {
	text-align: center;
}

.card_header{
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #102901;
	font-size: 25px
}

.card_content{
	font-family: "HankenGrotesk Regular", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.quote_name{
	font-family: "Sacramento", cursive;
  	font-weight: 400;
  	font-style: normal;
	padding-top: 10px;
	font-size: 40px;
	color: #245500;
}

.travel_story_button{
	padding-right: 100px;
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #FAF5E8;
	font-size: 20px;
	text-align: right;
}

/*-----Destination Cards CSS----- */

/*-----Custom shape divider 2 (beige)----*/

.custom-shape-divider-top-1711666241_2 .shape-fill {
    fill: #FAF5E8;
}

.custom-shape-divider-top-1711722094_2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1711722094_2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1711722094_2 .shape-fill {
    fill: #FAF5E8;
}

/*--- End of Custom shape dividor 2 (beige) CSS */

.regular_divider_2{
	background-color: #102901;
}

.regular_divider_3{
	margin-left: 0px;
	margin-right: 0px;
}

.destinations_heading{
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #FAF5E8;
	text-align: center;
	font-size: 80px
}

.destinations_button{
	margin-bottom: 100px;
	background-color: #6EDB0A;
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #102901;
}


.card_button{
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #FAF5E8;
	font-size: 15px;
	margin-left: 30px;
	margin-right: 30px;
	
}


.card_text{
	text-align: center;
}

.card_italy{
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 50px;
	
}

.card_norway{
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 50px;
	margin-bottom: 50px;
	
}

.card_montenegro{
	margin-top: 50px;
	margin-left: 80px;
	margin-right: 50px;
	
}


	/*--- Campsites Carousel CSS */

.campsites_heading{
	text-align: center;
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #102901;
	font-size: 80px
}

.campsites_button{
	margin-bottom: 80px;
	background-color: #6EDB0A;
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #102901;
}


.carousel_style{
	margin-top: 40px;
}

.carousel_campsites_heading{
	text-align: center;
	font-family: "DM Serif Display", serif;
  	font-weight: 400;
  	font-style: normal;
	color: #FAF5E8;
	font-size: 80px;
	text-shadow: 2px 2px 4px black;

}

.carousel_campsite_text{
	font-family: "HankenGrotesk Regular", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	text-shadow: 2px 2px 4px black;
}

		/*--- Custom shape dividor 3 (dark green) CSS */

.custom-shape-divider-top-1711666241 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
	margin-top: 0;
}

.custom-shape-divider-top-1711666241 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1711666241 .shape-fill {
    fill: #102901;
}




	/* -----Footer CSS----- */

footer a:hover {
	opacity: .5;
	min-height: 100vh;
	margin-top: auto;
	bottom: 0px;
    color: #707070;
    height: 2.5rem;
	right: 0px;
    left: 0px;
    position: absolute;
    font-size: small;
    width:100%;
	text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 0rem;    
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            
}


.footer-clean {
    padding:50px 0;
    background-color: #D5F4AF;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
@media (max-width:768) {
	.social_media_icons_footer {
		text-align: left;
	}
}
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ffffff00;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }

.copyright_text{
	text-align: center;
}

.social_media_icons_footer{
	text-align-last: center;
}

.footer_heading{
	font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
	color: #102901;
}

.footer_list{
	font-family: "HankenGrotesk Regular", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	color: #245500;
}

.lower_heading_footer{
	font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
	padding-top: 10px;
}

	/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
