/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap');

/* Changing the main font and background colour */

body {
	font-family: "HankenGrotesk Regular";
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

.header_landing_page {
	font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.landing_page_button {
	background-color: #245500;
	color: #FAF5E8;
}
.lower_header_font{
	font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Changing the background color for the navigation bar */

.navbar { 
	background-color: #FAF5E8;
	font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	}

.navbarfont {
	font-fam: "HankenGrotesk Regular";
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

.search_button_color {
	background-color: #AAD576;
}
/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

.footer{
	margin-top: 150px;
	width: 100%;
	padding:70px 5%;
	background: #AAD576;
	color: #102901;
	display: flex;
	font-family: "Hanken Grotesk", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	text-align: center;
}

.footer_division{
	text-align: center;
}

.col-2_footer {
	flex-grow: 2;
	
}

.col-1_a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
	
}

form input{
	width: 400px;
	height: 45px;
	border-radius: 4px;
}


.footer_division_h3{
	font-height: 400;
	margin-bottom: 30px;
	letter-spacing: 1px;
}


.footer_headings {
	font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* NEW */
 * {
            padding: 0;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(194, 189, 189);
        }
        
        nav {
            text-align: center;
            padding: 15px 0;
            background-color: black;
            width: 100%;
            height: 40px;
        }
        
        main {
            height: calc(100vh - 400px);
            background: rgb(56, 56, 90);
            background: radial-gradient(circle, rgba(56, 56, 90, 1) 0%, rgba(21, 21, 80, 1) 35%, rgba(1, 3, 3, 1) 100%);
        }
        
        footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            background-color: black;
            user-select: none;
        }
        
        .top-section {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
        }
        
        .logo {
            font-size: 30px;
            font-family: cursive;
            font-style: italic;
            font-weight: 900;
            color: rgb(186, 214, 23);
            margin: 15px;
        }
        
        section {
            display: flex;
            flex-direction: column;
            margin: 10px 5px;
        }
        
        h3 {
            font-size: 25px;
            color: rgb(219, 153, 26);
            margin-bottom: 10px;
        }
        
        section ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }
        
        ul li {
            margin-bottom: 7px;
        }
        
        ul a {
            text-decoration: none;
        }
        
        ul a:hover {
            color: rgb(219, 153, 26);
        }
        
        .subscribe-section form {
            display: flex;
            flex-direction: column;
        }
        
        .subscribe-section form input[type=email] {
            width: 300px;
            height: 30px;
            color: black;
            text-align: center;
            font-size: 17px;
        }
        
        .subscribe-section form input[type=email]:focus {
            outline: 1.5px solid rgb(219, 153, 26);
        }
        
        .subscribe-section form input[type=submit] {
            margin: 9px auto;
            padding: 8px 20px;
            font-size: 17px;
            background-color: rgb(219, 153, 26);
            color: white;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }
        
        .subscribe-section form input[type=submit]:hover {
            background-color: rgb(240, 106, 10);
        }
        
        hr {
            width: 80%;
            margin: 20px;
            color: rgb(219, 153, 26);
        }
        
        .social-icons {
            display: flex;
            width: 250px;
            font-size: 35px;
            margin: 5px;
            justify-content: space-evenly;
        }
        
        i {
            color: rgb(219, 153, 26);
        }
        
        span {
            margin: 10px;
        }

/* END */






/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}
